apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: todo-db
spec:
  teamId: todo
  volume:
    size: 1Gi
    storageClass: longhorn
  numberOfInstances: 3
  users:
    todo:
    - superuser
    - createdb
  databases:
    todo: todo
  postgresql:
    version: "14"
  patroni:
    pg_hba:
      - local   all             all                                   trust
      - host    all             all                0.0.0.0/0         md5
      - hostssl all             all                all               md5
      - host    replication     standby            0.0.0.0/0         md5